#wm-controls a {
    cursor: pointer;
    user-select: none;
}

.wm-state-playing #btnPlay {
    display: none;
}
  
.wm-state-stopped #btnStop {
    display: none;
}
  
.wm-player-fetching #btnStop
, .wm-player-fetching #btnPlay
{
    display: none;
}
  
#fetching {
    display: none;
}

@keyframes spin { 100% { transform:rotate(360deg); } }
#fetching svg {
    animation:spin 2s linear infinite;
}

.wm-player-fetching #fetching {
    display: block;
}


.wm-warning::before {
    content: " ";
    position: absolute;
    border-bottom: 3px dashed orange;
    border-radius: 0;
    width: 24px;
    height: 1em;
    margin-left: 2px;
    cursor: default;
}