#editor {
    border: 2px solid grey;
}
.wm-marked {
    background: black;
    color: white;
}

.wm-error {
    background: red;
}

#btnPlay, #btnStop {
    cursor: pointer;
}

.wm-state-playing #btnPlay {
  display: none;
}

.wm-state-stopped #btnStop {
    display: none;
}

.wm-player-fetching #btnStop
, .wm-player-fetching #btnPlay
{
    display: none;
}

#fetching {
    display: none;
}

@keyframes spin { 100% { transform:rotate(360deg); } }
#fetching svg {
    animation:spin 2s linear infinite;
}

.wm-player-fetching #fetching {
    display: block;
}


