#editor {
    border: 2px solid grey;
}
.wm-marked {
    background: yellow;
}

.wm-error {
    background: red;
}

#btnPlay, #btnStop {
    cursor: pointer;
}

.wm-state-playing #btnPlay {
  display: none;
}

.wm-state-stopped #btnStop {
    display: none;
}

.wm-player-fetching #btnStop
, .wm-player-fetching #btnPlay
{
    display: none;
}

#fetching {
    display: none;
}

.wm-player-fetching #fetching {
    display: block;
}


